$btn-color: #41a8ff;
$login-bg-color: #f9f8f9;
$font-color: #343535;
$avatar-bg: #a5d322;
$home-bg: #f0f2f5;
$logo-btn: #1877f2;
$create-btn: #43b62a;
$foot-head-bg: rgb(255, 174, 0);
$orange: linear-gradient(to bottom right, #2dc8b2, #43e295);
$green: linear-gradient(to bottom right, #feaf33, #fc8b93);
$violet: linear-gradient(to bottom right, #a052f4, #d968de);
$blue: linear-gradient(to bottom right, #8a75fa, #62b9f4);
$cyan: #2dc8b2;
