@use "../abstracts/breakpoints" as *;
@use "sass:map";
@mixin flexCenterDirection($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}
@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flexDirection($direction) {
  display: flex;
  flex-direction: $direction;
}
@mixin flexCenterDirection($direction) {
  display: flex;
  justify-content: center;
  flex-direction: $direction;
  align-items: center;
}
@mixin mq($key) {
  $size: map.get($breakpoints, $key);
  @media (max-width: $size) {
    @content;
  }
}
@mixin container-width($width) {
  width: $width;

  margin: auto;
}
