html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.pagination_list.active {
  background-color: cyan;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination_ul {
  display: flex;

  width: 100%;
  align-items: center;
  justify-content: center;
}
.pagination_list {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.pagination_list:hover {
  cursor: pointer;
}
